<a href="https://colab.research.google.com/github/crazygovind/AI-Foundation-Whitehat-Jr/blob/master/09_project_missing_num2021_10_26_govind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

1. While Loop, Data-Type Conversion and Conditional Statements.

2. Python Lists II.

---

### Activities

#### Activity 1: Print the series

Write a function to print the following series of a number:

Series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

In this series:

  - The next number is found by adding the two numbers before it.

  For example: Number '2'  is obtained by adding the two numbers before it i.e.1+1.
Similarly, Number '3'  is obtained by adding the two numbers before it i.e.1+2.
And Number '5' is obtained after adding 2+3, and so on.

**Example**:

  - series of 3: 0, 1, 1. Here 3 is considered as the length of the series.  

  - series of 7: 0, 1, 1, 2, 3, 5, 8. Here 7 is considered as the length of the series.

#### **Steps to obtain the above series:**

- **Step 1:** Create a function `series()` and pass `n` as a parameter. Here `n` represents the length of the series.

- **Step 2**: Initialize the first two values of the series in the variables `n1` and `n2`.

- **Step 3**: Initialize the `count` variable with a value of `0` which gets incremented further in the `while` loop till the length of the series. 

- **Step 4**: If `n` is less than or equal to `0` then prompt a message saying **Please enter a positive integer**. 

- **Step 5**: If the number `n` is greater than 0, run a `while` loop such that the loop iterates until the condition `count < n` is `True`.

- **Step 6**: Inside this `while` loop, perform the following tasks:

    1.  Print the value stored in variable `n1`.
    2.  Create a temporary variable `nth`. Store the addition of `n1` and `n2` in `nth` i.e. `nth=n1+n2`.
    3.  Assign the value of `n2` to `n1` and `nth` to `n2`.
    4.  Update the value of `count` variable by incrementing it by `1`.

- **Step 7:** Call the `series()` function and pass a number as the parameter. This number indicates the length of the series.

In [ ]:
# Write your solution here
# Step 1: Create a function 'series(n)'
def series(n):
  # Step 2: Initialize 'n1' and 'n2' variables
  n1=0
  n2=1
  # Step 3: Initialize 'count' variable
  count=0
  # Step 4: Check whether 'n'<=0
  if n<=0 :  
    print('please enter a positive number')
    # Step 5: Run a while loop till 'count' < 'n'
  else :
    while count<0:
    # Perform Step 6 
      print(n1)
      nth=n1+n2
      n1=n2
      n2=nth
      count=count+1
    print(count)
# Step 7: Call 'series()' function
series(5)

0

---

#### Activity 2: Find the missing number

Create a function that takes a list of numbers between `1` and `10` (excluding one number) and returns the missing number.

**Notes:**

- The list of numbers will be unsorted (not in order).

- Only one number will be missing.

Examples
```
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7
```

#### Steps to solve the above problem

- **Step 1:** Create a function `missing_num()` and pass `lst` as a parameter inside this function, where `lst` is the list of numbers from `1 - 10` with one missing number.  

- **Step 2**: Run a `for` loop in range `1 - 11` i.e. from 1 to 10. Inside the `for` loop, check whether the number `n` is present in the list `lst` using an `if` condition.

- **Step 3**: Inside the `for` loop, check whether each number is present in list `lst` using an `if` condition and `in` and `not in` operator. If the number is not present in the list `lst[]`, then print that number in the output.

In [ ]:
# Write a program to find the missing number in the list
def missing_num():
  lst=[1,2,3,4,5,6,7,9]
  for n in range(1,11):
    if n not in lst :
      print(n)
missing_num()

8
10

---