<a href="https://colab.research.google.com/github/crazygovind/AI-Foundation-Whitehat-Jr/blob/master/16_Project_Pandas_Series_Applied_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

  1.  Python List II
  3.  Pandas Series

---

### Activities

#### Activity 1.1: Pandas Series containing Random Integers

Create a Pandas series containing 40 random integers between 130 and 145. Print this series.

In [6]:
# Create Pandas series
import pandas as pd
import random
temp=pd.Series([random.randint(130,145)for i in range(40)])
temp

0     145
1     132
2     140
3     144
4     140
5     133
6     143
7     143
8     138
9     136
10    133
11    140
12    143
13    139
14    140
15    138
16    140
17    131
18    136
19    140
20    140
21    135
22    134
23    145
24    130
25    137
26    131
27    138
28    141
29    142
30    136
31    144
32    144
33    144
34    139
35    139
36    131
37    134
38    143
39    134
dtype: int64

---

#### Activity 1.2: Calculate Mean and Median

Calculate the mean value and median value of the above Pandas series.

In [8]:
# Calculate the mean and median value
print(temp.mean())
print(temp.median())

138.375
139.0

---

#### Activity 1.3: Find Minimum and Maximum

Find the minimum and maximum value in the above Pandas series.

In [9]:
# Find minimum and maximum value in the above Pandas series
print(temp.min())
print(temp.max())

130
145

---

#### Activity 1.4: Arrange in Descending Order

Arrange the values in descending order and print the last five rows of the series.

In [10]:
# Arrange the values in descending order and print the last five rows
temp.sort_values(ascending=False)

0     145
23    145
3     144
33    144
32    144
31    144
38    143
6     143
7     143
12    143
29    142
28    141
16    140
19    140
20    140
14    140
2     140
4     140
11    140
35    139
13    139
34    139
15    138
8     138
27    138
25    137
9     136
30    136
18    136
21    135
22    134
37    134
39    134
10    133
5     133
1     132
26    131
36    131
17    131
24    130
dtype: int64

---

#### Activity 2: Find whether Two Lines are Parallel

Given two lines, determine whether they are parallel or not.
Lines are represented using a list [a, b, c] which corresponds to the straight line $ax+by=c$.



**Hints:**
- Two lines are parallel if their slopes are equal. 

- A line in the form of $ax+by=c$ has slope $\frac {-a}{b}$. 
- Ignore the minus $(-)$ sign. Just calculate $\frac {a}{b}$ for both lines and find out whether they are equal or not.


**Example:**
```
line1 = [2,3,4] 
line2 = [4,6,8]

Are lines parallel?
True
```

In [11]:
# Two lines are parallel or not
line1 = [2,3,4] 
line2 = [4,6,8]


if line1[0]/line2[0] == line1[2]/line2[2]:
  print('Line is Parallel')
else :
  print('Line is not Parallel')

Line is Parallel

---