<a href="https://colab.research.google.com/github/crazygovind/AI-Foundation-Whitehat-Jr/blob/master/29_Project_tuple_filter_out_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

  1.  While Loop, Data-Type Conversion and Conditional Statements
  2.  Python Lists
  3.  List Comprehension
  5.  Python Tuples I

---

#### Activity 1: Filter out Strings

Given a list which contains both integer and string values, create a function that returns a new list without the strings using List comprehension method.

**Constraint**:

- Consider only non-negative integers

**Examples**
```
[1, 2, "a", "b"] ➞ [1, 2]

[1, "a", "b", 0, 15] ➞ [1, 0, 15]

[1, 2, "aasf", "1", "123", 123] ➞ [1, 2, 123]
```
**Hint:** Use `type()` function to check the data type of all the elements of the list.

In [13]:
# Write your code here
# Define a function which will take list as a parameter
def filter(list):
  for i in list:
    list1=[]
    if type(i)==int:
      list1.append(i)
      print(list1)
      
  # This function returns only those items of list whose type is int. Specify this using list comprehension.

filter([1, 2, "aasf", "1", "123", 123])
  
#Call the function

[1]
[2]
[123]

---

#### Activity 2: Transform into a List with No Duplicates

Given a list of elements, write a program to print a new sorted list with no duplicate values.

**Examples:**
```
[3, 3, 1, 5, 5] ➞ [1, 3, 5]

[5, 7, 8, 15, 10, 9] ➞ [5, 7, 8, 9, 10, 15]

['a', 'c', 'b', 'c', 'd'] ➞ [a, b, c, d]

[3, 3, 3, 2, 1] ➞ [1, 2, 3]
```
**Hint:** Use `append()` and `sort()` functions. The `sort()` function is used to sort the elements of a list. The syntax of `sort()` function is:

`list_name.sort()`

 where, `list_name` is the list whose elements are to be sorted.

In [20]:
# Write your code here
# Create a function which takes a list as parameter.
def repeater(list1):

	# Create an empty list
	list2=[]
	for i in list1:
		if i not in list2:
			list2.append(i)
	list2.sort()
	print(list2)

# call the function
print(repeater(['a', 'c', 'b', 'c', 'd']))
print(repeater([5, 7, 8, 15, 10, 9]))
print(repeater([3, 3, 3, 2, 1]))
repeater([3, 3, 1, 5, 5])

['a', 'b', 'c', 'd']
None
[5, 7, 8, 9, 10, 15]
None
[1, 2, 3]
None
[1, 3, 5]

---

#### Activity 3: Reverse the elements of a Tuple

Given `n` elements of different types in a tuple, write a program to print the elements of that tuple in a reverse order using negative indexing.

**Example**:

```
Original tuple:  (1, 3, 5.78, 7.56, 'Python')
Tuple is reverse order : 
Python
7.56
5.78
3
1
```

In [23]:
# Write your code here
tuple1=(1, 3, 5.78, 7.56, 'Python')
tuple1[::-1]

('Python', 7.56, 5.78, 3, 1)

---