<a href="https://colab.research.google.com/github/crazygovind/AI-Foundation-Whitehat-Jr/blob/master/30_Project_tuple_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lesson:

1. Python Tuples II

---

### Activities

#### Activity 1: Changing Tuple Items

Given a few random names stored in the `names_tup` tuple, write a code to remove `raj` from the `names_tup` tuple and then print the tuple after reversing the order of names stored in the `names_tup` tuple.

`names_tup = ('kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul')`

In [5]:
# Tuple of random names.
names_tup = ('kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul')

# Print the contents of the 'names_tup' tuple.
print(names_tup)

names=list(names_tup)

names.remove('raj')

names_tup=tuple(names)

print(names_tup)

('kevin', 'kamal', 'raj', 'prashant', 'albert', 'daniel', 'rahul')
('kevin', 'kamal', 'prashant', 'albert', 'daniel', 'rahul')

As we cannot change the contents of a tuple, first we need to convert the tuple into a list, then change the contents of the list and finally change the list back into a tuple.

---

#### Activity 2: Adding Labels to Tuples

Given a few random numbers stored in the `rand_num` tuple, write a code to sort the values in descending order and add labels to the values in the tuple.

In [26]:
# Tuple containing 30 random integers ranging between 100 and 250.
import random

rand_num = tuple([random.randint(100, 250) for i in range(31)])
rand_num

(109,
 179,
 145,
 197,
 250,
 153,
 126,
 242,
 237,
 167,
 216,
 195,
 198,
 155,
 204,
 197,
 226,
 209,
 183,
 142,
 242,
 248,
 113,
 182,
 218,
 125,
 199,
 106,
 201,
 138,
 226)

In [28]:
# Display the items of the 'rand_num' tuple in the descending order using the 'sorted()' function.
rand_num=sorted(rand_num,reverse=True)
rand_num

[250,
 248,
 242,
 242,
 237,
 226,
 226,
 218,
 216,
 209,
 204,
 201,
 199,
 198,
 197,
 197,
 195,
 183,
 182,
 179,
 167,
 155,
 153,
 145,
 142,
 138,
 126,
 125,
 113,
 109,
 106]

In [32]:
# Add Labels to the 'rand_num' tuple. 
# Apply the 'tuple()' function on top of the 'enumerate()' function to add labels.
rand_num=enumerate(rand_num)
tuple(rand_num)

((0, 250),
 (1, 248),
 (2, 242),
 (3, 242),
 (4, 237),
 (5, 226),
 (6, 226),
 (7, 218),
 (8, 216),
 (9, 209),
 (10, 204),
 (11, 201),
 (12, 199),
 (13, 198),
 (14, 197),
 (15, 197),
 (16, 195),
 (17, 183),
 (18, 182),
 (19, 179),
 (20, 167),
 (21, 155),
 (22, 153),
 (23, 145),
 (24, 142),
 (25, 138),
 (26, 126),
 (27, 125),
 (28, 113),
 (29, 109),
 (30, 106))

---